/*Start of the navigation bar*/

.header-wrapper1 {
  height: 160px;
}

/*Start of the main-body, or the main text
this includes the sections "What is Matariki", "Significance of Matariki", and "Why celebreate Matariki"*/

.right-align-text,
.left-align-text {
  width: 80%;
}

/* 
  The lines of code below codes for the main-body, or the main text
  this includes the sections "What is Matariki", "Significance of Matariki", and "Why celebreate Matariki". 
  The main key thing  about this, is that they have a layout where one content is left-aligned and the next content is right aligned.
*/
.right-align-text a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: var(--font-stlyle-main-body);
}

.right-align-text .title,
.left-align-text .title {
  font-family: var(--font-style-sub-headers);
  font-size: 35px;
  font-weight: bold;
}

.right-align-text .right-align-body-text,
.left-align-text .left-align-body-text {
  font-family: var(--font-stlyle-main-body);
  font-size: 22px;
}

.right-align-text .right-align-body-text p,
.left-align-text .left-align-body-text p {
  margin-bottom: 19px;
}

/*Start of the three images section*/

.three-images {
  width: 100%;
}

.image3-sections {
  height: 80vh;
}

/* The source buttons are inside a container which is called "sourcebtns" and the code you see below is that container */
.sourcebtns {
  top: -110px;
  padding: 10px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
}

/* This is the first source-btn this is just to make sure that the button is located on the bottom corner of the image */

.source {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}
/* This is the second source-btn this is just to make sure that the button is located on the bottom corner of the image */
.source2 {
  width: 750px;
  display: flex;
  justify-content: flex-end;
}

/* This is the third source-btn this is just to make sure that the button is located on the bottom corner of the image */
.source3 {
  padding-right: 20px;
  padding-bottom: 10px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.btn3 {
  padding: 50px 0 50px 50px;
}
/*Start of the right-align text*/
.left-align-text {
  position: relative;
  float: right;
  margin-top: 40px;
  text-align: right;
}

/*Start of Why Celebrate Matariki*/
.why-celebrate {
  margin-top: 20em;
}

.title-long {
  width: 90%;
}

/*Start of the quote section*/

.quote-image {
  position: relative;
  width: 100%;
}
.second-motif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.quote-text p {
  position: relative;
  width: 100%;
  font-family: "Lora", serif;
  font-size: 35px;
}

.large-image {
  margin-top: 19px;
  background-image: url(/Images/Rectangle\ 13two-girls-image.png);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-position: bottom 90px right -90px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
