@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); /*Font Family imported from Google fonts - this font is going to be used for the navigation links*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the header*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the main-body texts*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the quotes texts*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the sub-headers texts*/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the cards- texts*/

:root {
  --primary-colour: #3b245a;
  --hovered-colour: #604487;
  --gradient-background-colour: linear-gradient(180deg, rgba(89, 113, 185, 0) 4.17%, rgba(50, 57, 79, 0.277485) 7.81%, rgba(12, 30, 83, 0.73) 82.29%);
  --max-width: 1679px;
  --font-style-navigation: "Inter", sans-serif;
  --font-style-main-headers: "Bebas Neue", cursive;
  --font-stlyle-main-body: "Open Sans", sans-serif;
  --font-style-quotes: "Lato", sans-serif;
  --font-style-sub-headers: "Merriweather Sans", sans-serif;
}

.header-wrapper1 {
  height: 130px;
}

.hero-image {
  top: -10px;
  position: relative;
  min-height: 80vh;
  background-image: url(/Images/Rectangle\ 23celebrate-hero.png);
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container1 {
  position: relative;
  padding-top: 5rem;
  color: #fff;
}

.text-container1 p {
  width: 50rem;
  font-size: 22px;
  font-family: var(--font-stlyle-main-body);
  margin-bottom: 12px;
}

.text-container1 h1 {
  font-size: 140px;
  width: 6em;
  font-family: var(--font-style-main-headers);
  line-height: 120px;
}

.text-container1 a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: var(--font-stlyle-main-body);
}

/*Start of the cards section*/

.cards-section {
  margin-top: 15px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  position: inherit;
}

.cards-section a {
  text-decoration: none;
}

.cards {
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 430px;
}

.image {
  max-height: 241.65px;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.image2,
.image4,
.image5 {
  width: 430px;
}

.cards-texts {
  padding: 0 15px 0 15px;
}

.cards-title h2,
.cards-excerpt p,
.cards-info h6 span {
  color: black;
}

.cards-excerpt p {
  margin: 20px 0 10px 0;
}

.cards-title h2 {
  font-family: var(--font-style-quotes);
  font-size: 34px;
  font-weight: 900px;
  line-height: 40px;
}

.translation {
  font-size: 18px;
  font-weight: 900px;
}

.cards-excerpt {
  position: relative;
  top: -8px;
  font-size: 17px;
  color: black;
  font-family: var(--font-stlyle-main-body);
  overflow-wrap: break-word;
}

.cards-info {
  margin-top: 25px;
  display: inline-flex;
}

.cards-info h6,
.cards-date,
.cards-bullet {
  font-size: 15px;
  font-family: "Lora", serif;
  color: #464849;
}

.taniwha-info {
  margin-top: 20px;
}

.taniwha-excerpt {
  margin-top: 3rem;
}

.te-mapihi-info {
  margin-top: 55px;
}
.cards-date {
  padding: 0 5px 0 5px;
}

.cards-info h6 {
  font-weight: 400;
  padding-right: 10px;
}

/*Hover effects*/
.cards:hover .cards-title {
  text-decoration: underline;
}

/*Start of the container*/
.map-container {
  margin-top: 5rem;
  height: 80vh;
  margin-bottom: 14rem;
}

#map {
  height: 80vh;
  width: 100%;
}

.stargazing-info h1,
.section-title h1 {
  font-family: var(--font-style-sub-headers);
  font-size: 60px;
  font-weight: 80px;
}

.stargazing-info p {
  font-family: var(--font-stlyle-main-body);
  font-size: 22px;
  margin-bottom: 25px;
  width: 80%;
}

/*Start of the Map Container*/
.card-section-map {
  max-width: 400px;
  min-width: 295px;
}

.image1 {
  width: 400px;
  min-width: 295px;
}

.map-image {
  width: 100%;
}

.container-title {
  color: black;
  font-family: var(--font-style-main-headers);
  font-size: 35px;
}

.container-paragraph {
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;
  font-family: var(--font-stlyle-main-body);
  font-size: 14px;
}

.card-section-map a {
  text-decoration: none;
  color: white;
  font-family: var(--font-stlyle-main-body);
}

.card-section-map .btn {
  margin-top: 10px;
}

.dark-sky-title {
  padding-top: 5px;
}
