@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); /*Font Family imported from Google fonts - this font is going to be used for the navigation links*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the header*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the main-body texts*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the quotes texts*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the sub-headers texts*/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the cards- texts*/

:root {
  --primary-colour: #3b245a;
  --hovered-colour: #604487;
  --gradient-background-colour: linear-gradient(180deg, rgba(89, 113, 185, 0) 4.17%, rgba(50, 57, 79, 0.277485) 7.81%, rgba(12, 30, 83, 0.73) 82.29%);
  --max-width: 1679px;
  --font-style-navigation: "Inter", sans-serif;
  --font-style-main-headers: "Bebas Neue", cursive;
  --font-stlyle-main-body: "Open Sans", sans-serif;
  --font-style-quotes: "Lato", sans-serif;
  --font-style-sub-headers: "Merriweather Sans", sans-serif;
}
* {
  /*To change the default values of the web browser*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 30px;
  line-height: 1.5;
  background: black;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  font-family: var(--font-stlyle-main-body);
}

h1,
p,
h2,
h3 {
  color: #fff;
}
.alt-image {
  z-index: -1;
  color: white;
}
.wrapper {
  width: 88%;
  max-width: var(--max-width);
  margin: auto;
  height: auto;
}

.src-btn {
  width: 37px;
}

/*When the user scrolls down the navigation bar will change according to the code below*/
.bgc {
  background: rgba(0, 0, 0, 0.75);
  transition: 0.9s;
}

.bgc .main-nav {
  font-size: 20px;
  transition: 0.5s;
}

.bgc .main-nav ul li {
  padding: 20px 10px;
}

.bgc .main-nav .logo {
  width: 180px;
  left: 0;
  padding: 10px;
  margin-right: auto;
  transition: 0.5s;
}

/*Start of the navigation bar*/

.main-nav .logo {
  width: 190px;
  left: 0;
  margin-right: auto;
}

.main-nav {
  font-size: 21px;
  display: flex;
  align-items: center;
  font-family: var(--font-style-navigation);
}

.fix-nav {
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 45px 10px;
}

.main-nav ul li a:hover {
  opacity: 81%;
}

.main-nav ul li a {
  padding-bottom: 2px;
  transition: 0.4s;
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.header-wrapper {
  min-height: 100vh;
  background-image: url(/Images/Rectangle\ 2Main-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Hero section - texts*/
.text-container {
  padding-top: 16rem;
  color: #fff;
}

.text-container p {
  width: 50rem;
  font-size: 22px;
  font-family: var(--font-stlyle-main-body);
  margin-bottom: 12px;
}

.text-container h1 {
  font-size: 155px;
  font-family: var(--font-style-main-headers);
  line-height: 120px;
}

.text-container a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: var(--font-stlyle-main-body);
}

.btn {
  padding: 13px 30px;
  background-color: var(--primary-colour);
  border-radius: 42px;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--hovered-colour);
}

/*Image Section*/
.image-section {
  margin-top: 1.5em;
  margin-bottom: 1.5rem;
  height: auto;
  color: #fff;
}

.bg-image {
  height: 44vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(/Images/Rectangle\ 5camping-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-overlay {
  width: 800px;
  background: rgba(4, 4, 4, 0.78);
}

.text-overlay p {
  margin-left: 2rem;
  font-size: 25px;
}

.source-btn {
  padding: 20px;
  background-image: url(/Images/Source\ button\ hoverSource.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

.source-btn:hover {
  background-image: url(/Images/Property\ 1=Variant2source-btnhovered.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*Start of the quote section*/
.blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.pattern {
  height: 5rem;
}
.quote p {
  font-style: var(--font-style-quotes);
  font-size: 30px;
  text-align: center;
}

.maori-pattern2 {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
}

/*Start of "What does Matariki Mean?"*/
.matariki-meaning {
  margin-bottom: 5rem;
}
.main-text-container h1 {
  font-family: var(--font-style-sub-headers);
  font-size: 60px;
  font-weight: 80px;
}

.main-text-container p {
  font-family: var(--font-stlyle-main-body);
  font-size: 22px;
  margin-bottom: 25px;
}

.bg2-image {
  height: 45rem;
  background-size: contain;
  background-image: url("/Images/Rectangle\ 10Two\ people\ sky.png");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/*Start of Cards*/

.card-section {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.card {
  height: 17rem;
  padding: 15px;
  background: var(--gradient-background-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-section .card h3 {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.card-section .card p {
  font-family: var(--font-stlyle-main-body);
  font-size: 20px;
  text-align: center;
}

/*Start of footer*/
.seperator {
  width: 100%;
  height: 3px;
  background-color: var(--primary-colour);
  margin-bottom: 10px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-text a {
  color: white;
  text-decoration: none;
}

.left-info-footer {
  width: 400px;
}

.left-info-footer h1 {
  font-family: var(--font-style-navigation);
  font-size: 50px;
  font-weight: bolder;
}

.right-info-footer {
  text-align: right;
  width: 500px;
}

.right-info-footer h3 {
  margin-top: 20px;
  margin-bottom: 19.2px;
  font-family: var(--font-style-navigation);
  font-weight: bold;
  font-size: 40px;
}

.right-info-footer p,
.left-info-footer p {
  margin-top: 10px;
  font-size: 26px;
}

a.sources {
  text-decoration: underline;
}

.social-logo,
.sources {
  transition: 0.7s;
}

.social-logo:hover,
.sources:hover {
  color: var(--hovered-colour);
}

.social-medialinks a {
  padding: 1.5px;
}
