@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); /*Font Family imported from Google fonts - this font is going to be used for the navigation links*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the header*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the main-body texts*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the quotes texts*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the sub-headers texts*/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap"); /*Font Family imported from Google fonts - this font is going to be used  for the cards- texts*/

:root {
  --primary-colour: #3b245a;
  --hovered-colour: #604487;
  --gradient-background-colour: linear-gradient(180deg, rgba(89, 113, 185, 0) 4.17%, rgba(50, 57, 79, 0.277485) 7.81%, rgba(12, 30, 83, 0.73) 82.29%);
  --max-width: 1679px;
  --font-style-navigation: "Inter", sans-serif;
  --font-style-main-headers: "Bebas Neue", cursive;
  --font-stlyle-main-body: "Open Sans", sans-serif;
  --font-style-quotes: "Lato", sans-serif;
  --font-style-sub-headers: "Merriweather Sans", sans-serif;
}

.header-wrapper1 {
  height: 130px;
}

.hero-image {
  top: -10px;
  position: relative;
  min-height: 80vh;
  background-image: url("/Images/Rectangle\ 34refrencepage-hero.png");
  background-position: bottom -30px right 6px;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container1 {
  position: relative;
  padding-top: 6.5rem;
  color: #fff;
}

.text-container1 h1 {
  font-size: 140px;
  width: 7em;
  font-family: var(--font-style-main-headers);
  line-height: 120px;
}

.source-title h1 {
  font-family: var(--font-style-sub-headers);
  font-size: 60px;
  font-weight: 80px;
}

.source-title p {
  font-family: var(--font-stlyle-main-body);
  font-size: 22px;
  margin-bottom: 25px;
}

.sources-info h3 {
  font-family: var(--font-style-sub-headers);
  font-size: 30px;
  font-weight: 80px;
}

.sources-info p,
.sources-info ul li a {
  font-family: var(--font-stlyle-main-body);
  font-size: 20px;
  margin-bottom: 25px;
}

.sources-info h4 {
  font-family: var(--font-style-sub-headers);
  font-size: 28px;
  font-weight: 80px;
  color: white;
}

.sources-info a {
  text-decoration: underline;
  color: lightblue;
}

.sources-info ul li a {
  word-wrap: break-word;
  width: var(--max-width);
}

.maps-section-title {
  margin-top: 10px;
}

.footer {
  margin-top: 50px;
}
